.project-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--tertiary-color);
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.project-card .card-img-top {
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid var(--dark-gray);
}

.project-card .card-body {
  padding: 20px;
}

.project-card .card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.project-card .card-text {
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.6;
}

.project-card .card-footer {
  background-color: var(--tertiary-color);
  border-top: none;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add some space between buttons */
}

.card-link {
  text-decoration: none;
}

.project-card .btn-primary {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: #FFFFFF;
}

.project-card .btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
}

.project-card .btn-secondary {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: var(--primary-color);
}

.project-card .btn-secondary:hover {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}