.navbar {
  background: var(--primary-color);
  backdrop-filter: blur(10px);
  transition: background 0.3s ease;
  box-shadow: 0 2px 10px var(--shadow-color);
}

.navbar .nav-link {
  color: var(--secondary-color);
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
  position: relative;
  font-size: 1.1rem; /* Aumentado para desktop */
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Espaçamento entre os itens no desktop */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Remove o espaçamento do último item */
}

@media (max-width: 768px) {
  .navbar-nav .nav-item {
    margin-right: 0; /* Remove o espaçamento horizontal no mobile */
    margin-bottom: 10px; /* Espaçamento vertical entre os itens no mobile */
  }

  .navbar-nav .nav-item:last-child {
    margin-bottom: 0; /* Remove o espaçamento do último item no mobile */
  }
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}

.navbar .nav-link:hover, .navbar .nav-link.active {
  color: var(--tertiary-color) !important;
  transform: translateY(-2px);
}

.navbar-brand {
  color: var(--secondary-color) !important;
  font-weight: 700; 
  font-size: 1.8rem; 
  transition: color 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar .nav-link {
    font-size: 1rem;
  }
}

.navbar-brand:hover {
  color: var(--tertiary-color) !important;
  transform: scale(1.05);
}

.navbar-toggler {
  border-color: var(--secondary-color);
}

.navbar-toggler-icon {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='var(--secondary-color)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color); /* Cor do ícone */
  font-size: 1.5rem; /* Tamanho do ícone */
}